.gpt {
  background: linear-gradient(90deg, rgba(45, 55, 72, 1) 0%, rgba(28, 38, 50, 1) 100%);
  padding: 4rem;
  color: var(--color-subtext);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.gpt-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gpt-feature h1 {
  margin: 0;
  font-weight: 700;
  color: var(--color-text);
}

.gpt-feature p {
  margin: 1rem 0;
  font-size: 1rem;
  color: #d5e5e0;
}

.gpt-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
}

.gpt-heading h1 {
  font-size: 48px;
  line-height: 1.2;
}

.gpt-heading p {
  font-size: 16px;
  color: var(--gradient-text);
  margin: 0.5rem 0;
}

.gpt-heading p a {
  text-decoration: underline;
  color: var(--gradient-text);
  transition: color 0.3s;
}

.gpt-heading p a:hover {
  color: #ff8c94;
}

.gpt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.container-feature {
  flex: 1;
  margin: 1rem;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  text-align: center;
}

.container-feature:hover {
  background: rgba(255, 255, 255, 0.2);
}

.container-feature h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.feature-text {
  color: #d5e5e0;
  font-size: 0.9rem;
}

@media screen and (max-width: 850px) {
  .gpt-heading {
    align-items: flex-start;
  }

  .gpt-heading p {
    margin-top: 1rem;
  }
}


@media screen and (max-width: 500px) {
  .gpt-heading h1 {
    font-size: 28px;
  }

  .container-feature {
    min-width: 100%;
    margin: 0.5rem 0;
  }
}
