.cta {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(115, 0, 190, 1) 0%,
    rgba(200, 0, 200, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(115, 0, 190, 1) 0%,
    rgba(200, 0, 200, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(115, 0, 190, 1) 0%,
    rgba(200, 0, 200, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C800C8', endColorstr='#7300BE', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(115, 0, 190, 1) 0%,
    rgba(200, 0, 200, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(115, 0, 190, 1) 0%,
    rgba(200, 0, 200, 1) 100%
  );

  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-heading {
  display: flex;
  flex-direction: column;
}

.cta-heading p {
  color: #222;
  font-size: 14px;
  line-height: 25px;
}

.cta-heading h1 {
  color: #000;
  font-size: 26px;
  line-height: 40px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.cta-button button {
  padding: 0.7rem 1.2rem;
  color: #fff;
  background: #a084e8;
  font-size: 18px;
  line-height: 25px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}


@media screen and (max-width: 1050px){
    .cta-button button{
        font-size: 12px;
        padding: 0.3rem 0.8rem;
        line-height: 18px;
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
  .cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .cta-heading h1 {
    font-size: 18px;
    line-height: 32px;
  }

  .cta-button button {
    font-size: 14px;
    line-height: 28px;
  }
}
