* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

.gradient__bg {
  background: radial-gradient(circle at 0% 0%, #00008b 0%, #e6e6fa 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  color: transparent; 
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.top {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  color: #222;
}

@media screen and (max-width: 800px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
