@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Outfit', sans-serif;
  
  --gradient-text: radial-gradient(circle, #A8E6CF, #56B7B1); 
  --gradient-bar: linear-gradient(103.22deg, #A8E6CF, #FF8C94); 
  
  --color-bg: #1B2A3D;
  --color-footer: #1F3A3D; 
  --color-blog: #234F36; 
  --color-text: #FFFFFF; 
  --color-subtext: #D5E5E0; 
}
